.panel-header {
  position: relative;
  height: 19px;
  padding: 10px 0 9px 12px;
  background: #3c3f41;
  color: #adb9bd;
  text-shadow: none;
  overflow: hidden;
}

.panel-header > span {
  background: #3c3f41;
  position: relative;
  z-index: 9;
}

#hierarchy-content {
  overflow: auto;
  color: #adb9bd;
}

#inspector-content {
  position: absolute;
  right: 30px;
  height: 100%;
  background: #3c3f41;
  color: #adb9bd;
  font-weight:bold;
  overflow: auto;
}

#inspector-content .inspector {
  margin: 5px;
}

.tree-view ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tree-view ul li {
  margin: 0;
  padding: 0;
  position: relative;
}
.tree-view ul li div {
  padding: 3px;
  padding-left: 50px;
  cursor: pointer;
}

.tree-view.no-icon ul li div{
  padding-left: 30px;
}

.tree-view ul li div.selected {
  background-color: #2d2e30;
  color: #8fddff;
}
.tree-view ul li ul li div {
  padding-left: 65px;
}
.tree-view.no-icon ul li ul li div {
  padding-left: 45px;
}

.tree-view ul li ul li ul li div {
  padding-left: 86px;
}
.tree-view.no-icon ul li ul li ul li div {
  padding-left: 65px;
}
.tree-view ul li ul li ul li ul li div {
  padding-left: 107px;
}
.tree-view.no-icon ul li ul li ul li ul li div {
  padding-left: 85px;
}
.tree-view ul li ul li ul li ul li ul li div {
  padding-left: 127px;
}
.tree-view.no-icon ul li ul li ul li ul li ul li div {
  padding-left: 105px;
}
.tree-view ul li ul li ul li ul li ul li ul li div {
  padding-left: 147px;
}
.tree-view.no-icon ul li ul li ul li ul li ul li ul li div {
  padding-left: 125px;
}

.tree-view .toggle {
  top: 1px;
  /*left: 13px;*/
  margin-left: -45px;
  position: absolute;
  width: 24px;
  margin-top: -2px;
  height: 24px;
}
.tree-view.no-icon .toggle {
  margin-left: -25px;
}
.tree-view .toggle.open {
  background-image: url("../images/expanded.svg");
}
.tree-view .toggle.closed {
  background-image: url("../images/collapsed.svg");
}
.tree-view .icon {
  width: 13px;
  height: 15px;
  position: absolute;
  top: 4px;
  margin-left: -20px;
  background-size: 13px auto;
  background-repeat: no-repeat;
}

.component .row {
  margin: 5px 0px 5px 15px;
}

.component .key {
  width: 40%;
  /*margin-top: 5px;*/
  cursor: default;
  display: inline-block; 
}

.component span{
  display: inline-block; 
}

/*.component .value {
  position: absolute;
  right: 5px;
  width: 60%;
}

.component .value.array {
  position: relative;
  margin-left: 30px;
  width: 100%;
}

.component table td{
  border-left-width: 0px;
  border-right-width: 0px;
}

.component input {
  width: 100%;
  padding: 0px 0px;
  margin: 0px;

  background-color: #ffffff;
  border: 1px solid #b2b5b5;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  transition: border linear 180ms, box-shadow linear 180ms;
  border-left-width: 0px;
  border-right-width: 0px;
}*/

.add-component {
  text-align: center;
  width: 100%;
  display: none;
}

.component-manager {
  position: absolute;
}